/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
--color-primary: #DB00FF;
  --color-accent: #FF0070;
  --color-argc: #000028;
  --color-title: #FF0070;
  --color-text: #F1B2CE;
  --color-hover:#FF007066;
  --bg-image: url('../images/cover-image-dark.png');
}

.theme-dark .page .header .rec-badge {
  position: absolute;
  font-size: 18px;
  color: var(--color-accent);
  align-self: start;
  justify-self: end;
  margin-right: 30px;
  display: block;
}

.theme-dark .page .header .rec-badge::after {
  content: '•';
  font-size: 1.8em;
  line-height: 1;
}

@media (prefers-color-scheme: dark) {
  .rec-badge {
  position: absolute;
  font-size: 18px;
  color: var(--color-accent);
  align-self: start;
  justify-self: end;
  margin-right: 30px;
  display: block;
  }

  .rec-badge::after {
  content: '•';
  font-size: 1.8em;
  line-height: 1;
  }
}