/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --color-primary: #DB00FF;
  --color-accent: #FF0070;
  --color-argc: #000028;
  --color-title: #FF0070;
  --color-text: #F1B2CE;
  --color-hover:#FF007066;
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --color-shadow-footer: #FF0070;
}

html.theme-dark .rec-badge {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #DB00FF;
    --color-accent: #FF0070;
    --color-argc: #000028;
    --color-title: #FF0070;
    --color-text: #F1B2CE;
    --color-hover:#FF007066;
    --bg-image: url('../images/cover-image-dark.png');
    --bg-color: #000028;
    --color-shadow-footer: #FF0070;
  }

  .rec-badge {
    display: block;
  }
  
}