/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-primary: #FFC2E6;
  --color-accent: #FF8DCB;
  --color-argc:  #353430;
  --color-title: #353430;
  --color-text: #353430;
  --color-hover: #32312D66;
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
}

html.theme-light .rec-badge {
  display: none;
}


@media (prefers-color-scheme: light) {

  :root {
  --color-primary: #FFC2E6;
  --color-accent: #FF8DCB;
  --color-argc:  #353430;
  --color-title: #353430;
  --color-text: #353430;
  --color-hover: #32312D66;
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
}

  .rec-badge {
    display: none;
  }
}