/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-primary: #FFC2E6;
  --color-accent: #FF8DCB;
  --color-argc:  #353430;
  --color-title: #353430;
  --color-text: #353430;
  --color-hover: #353430;
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FF8DCB;
}

.theme-light .page .header .rec-badge {
  display: none;
}

.theme-light .page .header .rec-badge::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  .rec-badge {
    display: none;
  }

  .rec-badge::after {
    display: none;
  }
}