/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */



.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 60px;
  position: relative;
  max-inline-size: 1024px;
}

a {
  text-shadow: 2px 2px var(--color-accent);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: none;
  border: 1px solid var(--color-text);
}

header::after,
header::before,
footer::after,
footer::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

header::after, 
footer::after {
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
}

header::before, 
footer::before {
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--color-accent);
  border-left: 1px solid var(--color-accent);
}

header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, auto);
  min-block-size: 768px;
  max-block-size: 100vh;
  padding: 20px 20px 0px 0px;
}

.header__theme-menu {
  align-self: self-start;
  justify-self: center;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.header__theme-menu-button {
  background: initial;
  border: initial;
  color: var(--color-title);
  font-size: var(--fs-text);
  padding:  0px 25px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--color-title);
}


.header__theme-menu-button_active {
  border: 1px solid var(--color-title);
}

.header-title {
  align-self: center;     /* центр второго ряда */
  justify-self: start;
  font-size: var(--fs-title);
  font-weight: 700;
  line-height: 83%;
  color:var(--color-primary);
  text-shadow: 4px 4px var(--color-accent);
  font-family: var(--font-family-text);
  align-items: center;
}

.header-text {
  inline-size: 50%;
  align-self: center;        /* прижимаем к низу ячейки */
  justify-self: end;
  font-size: var(--fs-text);
  font-family: var(--font-family-text);
  font-weight: 700;
  line-height: 23.4px;
}

.accent-block {
  background-color: var(--color-accent);
  color: var(--color-argc);
}

main {
  display: flex;
  flex-direction: column;
  gap:80px;
  padding: 0px 20px;
}

main .section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: start;
  grid-auto-rows: auto;
  
}

.section-title {
  grid-row: 1/3;
  color: var(--color-title);
  font-family: var(--font-family-text);
  font-size: var(--fs-text);
  font-weight: 700;
  line-height: 23.4px;
  overflow-wrap: break-word;
}

main .section.alter .section-title {
  grid-column: 1 / -1;
  inline-size: 33%;
}

.section__content {
  grid-column: 2 / 4;
  align-self: start;
}

main .section.alter .section__content {
  grid-column: auto;
}

.section__content-title {
  font-size: var(--fs-text);
  font-family: var(--font-family-text);
  font-weight: 700;
}

.section__content-text {
  color: var(--color-text);
  font-size: var(--fs-text);
  font-family: var(--font-family-text);
  font-weight: 400;
}

.section__content-title + .section__content-text {
  padding-top: 10px;
}

.section.pictures {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, min-content) auto;
}

.section.pictures img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.section__picture {
  object-fit:contain;
}

main .section.pictures .section__content {
  grid-column: 1 / -1;
}

main .section.pictures .section__content-title {
  grid-column: 1 / -1;
}

.section__picture-wide {
  grid-column: span 2;
}

.section__picture-tall {
  grid-row: span 2;
}

.section__picture-tall-xl {
  grid-row: span 3;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-block-size: 768px;
  max-block-size: 100vh;
  position: relative;
}

@media (width<=768px) {
    .header__theme-menu {
      justify-self: self-end;
      align-self: center;
    }
    
    .header__theme-menu-list {
      flex-direction: column;
    }

    main .section.alter .section__content {
      grid-column: 1 / -1;
    }
 }

@media (width <= 375px) {

  main {
    gap: 50px;
    padding: 0px 10px;
  }

  .page {
    gap: 40px;
  }

  .header-text {
    inline-size: 100%;
    margin: 0px auto;
  }

  .section-title {
    grid-column: 1 / -1;
  }

  main .section.alter .section-title {
    inline-size: 100%;
  }

  main .section .section__content {
    grid-column: 1 / -1;
  }

  .section.pictures {
    grid-template-columns: 1fr;
  }

  .section__picture-wide {
    grid-column: auto;
  }


  header::after, 
  footer::after {
    margin-right: 10px;
  }

  header::before, 
  footer::before {
    margin-left: 10px;
  }
}