/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-position: center;      
  background-size: cover;           
  background-attachment: fixed;       
  background-color: var(--bg-color);
}

.header__theme-menu {
  align-self: self-start;
  justify-self: center;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}


.header__theme-menu-button {
  background: initial;
  border: none;
  color: var(--accent-color);
  font-size: var(--fs-text);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.color-block {
  background-color: var(--accent-color);
  color: var(--title-color) ;
}

main .section {
  display: grid
}
