/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --fs-text: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  --fs-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-family-text: "IBM Plex Mono", "JetBrains Mono", monospace;
}

@media (width<=375) {

  :root {
    --fs-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}